<!DOCTYPE html>
<html>
<head>
  <title>Flashbit.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Flashbit<small>'The soul never thinks without a picture.' Aristotle</small></h1>
<div class=right>
  <%= mail_to('mbsmrtic@flashbit.com', 'mbsmrtic at flashbit.com', :encode => :hex) %>
  <%= link_to image_tag("twitter-bird-blue-on-white.png", :size => '36x36'), 'http://www.twitter.com/mbsmrtic', :target => '_blank'  %>
</div>
<div>
<%= link_to "Flashbit on Tomcat", 'http://www.flashbit.com' %>  <br>
<%=  link_to "Google Flu Trends on Ruby on Rails", sg_path %> <br>
</div>

<%= yield %>

</body>
</html>
